div {
    border: 1px solid red;
    border-radius: 10px;
    margin: 50px;
    background-color: pink;
}

#container {
    border: 1px solid blue;
    height: 1050px;
    width: 715px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#display {
    background-color: gray;
    height: 150px;
    margin-bottom: -50px;
    font-size: 60px;
    word-break: break-all;
}

#button-container {
    width: 612px;
    height: 750x;
    margin-bottom: -50px;
}

#actions-container {
    width: 458px;
    height: 300px;
}

button{
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: hotpink;
}
