div {
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    background-color: plum;
}

#container {
    box-shadow: inset -10px -10px rgba(128, 0, 128, 0.3);
    height: 1000px;
    width: 715px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#display {
    background-color: gray;
    height: 150px;
    margin-bottom: -50px;
    font-size: 60px;
    word-break: break-all;
}

#button-container {
    width: 612px;
    height: 750x;
    margin-bottom: -50px;
}

#actions-container {
    width: 458px;
    height: 300px;
}

button{
    box-shadow: inset -10px -10px rgba(128, 0, 128, 0.3);
    border-radius: 10px;
    height: 150px;
    width: 150px;
    font-size: 75px;
    display: inline-block;
    background-color: orchid;
}
